<!DOCTYPE html>
<html>
<head>
<title>EasyAPI</title>
<link href="/css/bootstrap.min.css" rel="stylesheet"/>
<script type='text/javascript' src='/js/jquery.min.js'></script>
<script type='text/javascript' src='/js/bootstrap.min.js'></script>
<script type='text/javascript' src='/js/d3.min.js'></script>
<script>
function loadData(data) {

	var graphview=d3.select("#graph").selectAll("div").data(data);
	// Create new data points
	var bar= graphview.enter()
			.append("div")
				.style("color","white")
				.style("text-align","center")
				.style("height","30px")
				.style("margin-bottom","3px")
				.style("padding-right", "3px")
				.style("background-color", "steelblue")
				.style("text-align","right");

	//Update existing data points (including newly created points)
	d3.select("#graph").selectAll("div")
		.style("width", function(d) { return  d.Value*10 + "px";} )
		.text(function(d) { return d.Name + "(" + d.Value + ")"; });
		
	// Remove old data points		
	graphview.exit().remove();
} 
 
function initialize() {
 loadData({{ . }});
}
 
function rigElection() {
	loadData([{Name:"Choice 1",Value:10},{Name:"Choice 2",Value:12},{Name:"Interloper",Value:50}])
}
</script>
<style>



</style>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#">EasyAPI</a>
			  
			</div>
			<img class="col-xs-3" src="/images/federation-bar.png"/>
		  </div>
    </nav>
	<div id='message'><h1>Our results</h1></div>
	<div id='graph' class="container-fluid">
	</div>
	<button onClick='rigElection();'>Rig the election</button>
</body>
<script>
window.onload=initialize();
</script>
</html>

